@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                
            </p>
            <p>
                <a class="btn" href="#">Gerer mes preferences</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                
            </p>
            <p>
                <a class="btn" asp-controller="GestionDispo" asp-action="Index">Gerer mes disponibilités</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Appartement vide
            </p>
            <p>
                <a class="btn" href="#">Details</a>
            </p>
        </div>
    </div>
</div>