@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Gerer mes preferences
            </p>
            <p>
                <a class="btn" href="#">Gerer »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Gerer mes disponibilités
            </p>
            <p>
                <a class="btn" href="#">Pause »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Appartement vide
            </p>
            <p>
                <a class="btn" href="#">Details »</a>
            </p>
        </div>
    </div>
</div>